<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>servletcategoria</servlet-name>
        <servlet-class>CONTROLLER.servletcategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletdistribuidores</servlet-name>
        <servlet-class>CONTROLLER.servletdistribuidores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletcreatecategoria</servlet-name>
        <servlet-class>CONTROLLER.servletcreatecategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servleteditcategoria</servlet-name>
        <servlet-class>CONTROLLER.servleteditcategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletdeletecategoria</servlet-name>
        <servlet-class>CONTROLLER.servletdeletecategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletlogin</servlet-name>
        <servlet-class>CONTROLLER.servletlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletcreatedistribuidores</servlet-name>
        <servlet-class>CONTROLLER.servletcreatedistribuidores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servleteditdistribuidores</servlet-name>
        <servlet-class>CONTROLLER.servleteditdistribuidores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletdeletedistribuidor</servlet-name>
        <servlet-class>CONTROLLER.servletdeletedistribuidor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletproductos</servlet-name>
        <servlet-class>CONTROLLER.servletproductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletcreateproducto</servlet-name>
        <servlet-class>CONTROLLER.servletcreateproducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servleteditproducto</servlet-name>
        <servlet-class>CONTROLLER.servleteditproducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletdeleteproducto</servlet-name>
        <servlet-class>CONTROLLER.servletdeleteproducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletresumenuser</servlet-name>
        <servlet-class>CONTROLLER.servletresumenproductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletresumencategoria</servlet-name>
        <servlet-class>CONTROLLER.servletresumencategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletresumendistribuidores</servlet-name>
        <servlet-class>CONTROLLER.servletresumendistribuidores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletresumenproductos</servlet-name>
        <servlet-class>CONTROLLER.servletresumenproductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>CONTROLLER.ServletLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletcategoria</servlet-name>
        <url-pattern>/servletcategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletdistribuidores</servlet-name>
        <url-pattern>/servletdistribuidores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletcreatecategoria</servlet-name>
        <url-pattern>/servletcreatecategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servleteditcategoria</servlet-name>
        <url-pattern>/servleteditcategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletdeletecategoria</servlet-name>
        <url-pattern>/servletdeletecategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletlogin</servlet-name>
        <url-pattern>/servletlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletcreatedistribuidores</servlet-name>
        <url-pattern>/servletcreatedistribuidores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servleteditdistribuidores</servlet-name>
        <url-pattern>/servleteditdistribuidores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletdeletedistribuidor</servlet-name>
        <url-pattern>/servletdeletedistribuidor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletproductos</servlet-name>
        <url-pattern>/servletproductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletcreateproducto</servlet-name>
        <url-pattern>/servletcreateproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servleteditproducto</servlet-name>
        <url-pattern>/servleteditproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletdeleteproducto</servlet-name>
        <url-pattern>/servletdeleteproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletresumenuser</servlet-name>
        <url-pattern>/servletresumenuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletresumencategoria</servlet-name>
        <url-pattern>/servletresumencategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletresumendistribuidores</servlet-name>
        <url-pattern>/servletresumendistribuidores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletresumenproductos</servlet-name>
        <url-pattern>/servletresumenproductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
